.fa-linkedin {
    color: rgb(12, 11, 11);
    text-size-adjust: 50px;
  }
  .w3-quarter{
      background-color: rgb(123, 247, 92);
      color: rgb(14, 13, 13);
  }
  .map{
      width: 50%;
      height: 100px;
  }
  .myDiv {

    text-align: center;
  }
